/* 1. Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    scroll-behavior: smooth;
}

#contact {
    scroll-margin-top: 150px;
}

/* 2. Base Style */
body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Default to Inter for body text */
    color: white;
}

/* 3. Layout Structure */
.main-element {
    padding-left: 150px;
    padding-right: 100px;
    min-height: 100vh;
    overflow-x: hidden;
}

.left-element {
    flex: 0 0 auto;
    width: 600px;
}

.right-element {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: white;
    padding-top: 200px;
}

/* 4. Left Side Components */
#logo-box {
    display: flex;
    position: relative;
    padding-top: 80px;
    margin-left: 150px;
}

#man {
    width: 286px;
    height: 426px;
    margin-top: 150px;
    object-fit: cover;
    object-position: top;
}

#under-man {
    width: 286px;
    height: 150px;
    margin-top: -30px;
    background-color: #FF9248;
    border-radius: 0 0 100px 0;
    clip-path: path('M 0 50 L 200 50 Q 250 50 286 0 L 286 150 L 0 150 Z');
}

#Redbox-underman {
    width: 286px;
    height: 300px;
    margin-top: 25px;
    background-color: #AD3D3D;
    border-radius: 0 100px 0 100px;
}

/* 5. Right Side Decorative Elements */
#orange-box {
    width: 286px;
    height: 290px;
    background-color: #DF5F30;
    position: absolute;
    top: -100px;
    left: 320px;
    border-bottom-right-radius: 80px;
    z-index: 1;
}

#blue-box {
    color: white;
    width: 286px;
    height: 355px;
    margin-top: 130px;
    margin-left: 30px;
    background-color: #363459;
    border-top-right-radius: 100px;
    clip-path: path('M 0 0 L 286 0 L 286 290 Q 143 170 0 290 Z');
}

#outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 237px;
    height: 237px;
    margin-top: -100px;
    margin-left: 55px;
    border: 30px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
}

#inside-circle {
    width: 96px;
    height: 96px;
    background-color: #DF5F30;
    border-radius: 50%;
}

/* 6. Text Content Style */
.Concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

#right-in-blue-box {
    font-family: 'Anton', sans-serif;
    font-weight: 400; /* Anton only has weight 400 */
    font-size: 40px;
    margin-bottom: 0;
}

#Subconcept-in-blue-box {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-top: 5px;
    font-size: 25px;
}

#Header {
    font-family: 'Anton', sans-serif;
    font-weight: 400; /* FIXED: Anton only supports 400 */
    font-size: 96px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 20px;
}

#Sub-detail {
    font-family: 'Inter', sans-serif; /* Use Inter for readable body text */
    margin: 0 150px 0 175px;
    font-size: 28px;
    font-weight: 300; /* Inter supports this weight */
    text-indent: 100px;
    text-align: justify;
    text-justify: inter-word;
}

/* 7. Dividers & Images */
#secDivider-P1 {
    width: 1300px;
    height: 5px;
    background-color: white;
    position: absolute;
    left: 320px;
    top: 950px;
    z-index: 2;
}

#Constructman {
    width: 180px;
    height: auto;
    margin-top: 70px;
    margin-right: 150px;
}

#downArrow {
    width: 61px;
    height: auto;
    margin-right: 180px;
    margin-top: 10px;
}

.left-element,
.right-element {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#top-border-box1 {
    margin-left: 160px;
    background-color: #DF5F30;
    width: 290px;
    height: 20px;
}

#top-border-box2 {
    background-color: #363459;
    width: 300px;
    height: 20px;
}

#top-border-box3 {
    background-color: #AD3D3D;
    width: 436px;
    height: 20px;
}

.whatHeader {
    font-family: 'Anton', sans-serif;
    font-weight: 400; /* FIXED: Anton only supports 400 */
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 160px;
    color: white;
    font-size: 128px;
    line-height: 0.9;
}

.left-box2 {
    margin-left: 100px;
}

#seperator {
    background-color: white;
    height: 800px;
    width: 3px;
    display: block;
    margin: 0 auto;
}

#P1 {
    align-items: center;
    width: 280px;
    height: 280px;
}

#NumP1 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 96px;
}

#Detail1 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

#small-D1 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-align: end;
    font-weight: 300;
}

#top-border-box4 {
    background-color: #FF9248;
    width: 360px;
    height: 20px;
}

#P2 {
    width: 426px;
    height: 321px;
    margin-top: 130px;
}

#Detail2 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 60px;
}

#small-D2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-align: end;
    font-weight: 300;
}

#P3 {
    width: 344px;
    height: 275px;
}

#Detail3 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-left: 20px;
}

#help {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: #DF5F30;
    font-size: 80px;
    text-align: end;
    margin-top: 160px;
}

#table {
    width: 136px;
    height: 477px;
    margin-left: 150px;
}

#top-border {
    background-color: white;
    width: 1600px;
    height: 3px;
}

#MinerMan {
    width: 192px;
    height: 192px;
    position: relative;
    margin-left: auto;
    display: block;
    margin-top: 100px;
}

#bot-border {
    background-color: white;
    width: 1600px;
    height: 3px;
    margin-top: auto;
}

#Main-conc {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: #DF5F30;
    font-size: 64px;
}

#Side-conc {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: white;
}

#Sub-concept {
    font-family: 'Inter', sans-serif;
    margin-right: 300px;
    color: white;
    font-size: 36px;
    font-weight: 300;
}

.Contract {
    text-align: center;
}

#short-border {
    background-color: white;
    width: 53px;
    height: 3px;
}

#Right-Arrow {
    display: block;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.Contract {
    font-size: 48px;
}

#Conc {
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 20px;
}

#mail {
    margin-right: 300px;
    margin-top: 70px;
    margin-bottom: 67px;
}

#coner {
    width: 100px;
    height: 300px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-top-right-radius: 20px;
    margin-right: 450px;
    margin-top: -3px;
}