/* 1. Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');



/* 2. Base Style */
body {
    margin: 0;
    background-color: #2B2B2B;
    font-family: 'Inter', sans-serif;
    color: white;
}

/* 3. Layout Structure */
.main-element {
    padding-left: 150px;
    padding-right: 100px;
    min-height: 100vh;
    overflow-x: hidden; 
}

.left-element {
    flex: 0 0 auto;
    width: 600px;
}

.right-element {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: white;
    /* ใช้ padding-top แทน transform เพื่อความเสถียรของระยะ */
    padding-top: 200px; 
}

/* 4. Left Side Components */
#logo-box {
    display: flex;
    position: relative;
    padding-top: 80px;
    margin-left: 150px;
}

#man {
    width: 286px;
    height: 426px;
    margin-top: 150px;
    object-fit: cover;
    object-position: top;
}

#under-man {
    width: 286px;
    height: 150px;
    margin-top: -30px;
    background-color: #FF9248;
    border-radius: 0 0 100px 0;
    clip-path: path('M 0 50 L 200 50 Q 250 50 286 0 L 286 150 L 0 150 Z');
}

#Redbox-underman {
    width: 286px;
    height: 300px;
    margin-top: 25px;
    background-color: #AD3D3D;
    border-radius: 0 100px 0 100px;
}

/* 5. Right Side Decorative Elements */
#orange-box {
    width: 286px;
    height: 290px;
    background-color: #DF5F30;
    position: absolute;
    top: -100px;
    left: 320px;
    border-bottom-right-radius: 80px;
    z-index: 1;
}

#blue-box {
    color: white;
    width: 286px;
    height: 355px;
    margin-top: 130px;
    margin-left: 30px;
    background-color: #363459;
    border-top-right-radius: 100px;
    clip-path: path('M 0 0 L 286 0 L 286 290 Q 143 170 0 290 Z');
}

#outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 237px;
    height: 237px;
    margin-top: -100px;
    margin-left: 55px;
    border: 30px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
}

#inside-circle {
    width: 96px;
    height: 96px;
    background-color: #DF5F30;
    border-radius: 50%;
}

/* 6. Text Content Style */
.Concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

#right-in-blue-box {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}

#Subconcept-in-blue-box {
    margin-top: 5px;
    font-size: 25px;
}

#Header {
    font-weight: 800;
    font-size: 96px;
    letter-spacing: 3.5px;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 20px;
}

#Sub-detail {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 150px 0 175px;
    font-size: 28px;
    font-weight: 300;
    text-indent: 100px;
    text-align: justify;
    text-justify: inter-word;
}

/* 7. Dividers & Images */
#secDivider-P1 {
    /* ความยาวเส้นที่ต้องการ (1049px ตามที่คุณระบุ) */
    width: 1300px; 
    height: 5px;
    background-color: white;
    
    /* ใช้ absolute เพื่อกำหนดจุดเริ่มที่แน่นอน */
    position: absolute;
    
    /* เริ่มต้นที่ระยะ 286px จากซ้าย (ซึ่งคือความกว้างของกล่องแดงพอดี เส้นจึงไม่ทับ) */
    left: 320px; 
    
    /* ปรับระดับความสูงให้ตรงกับดีไซน์เดิม (ลองปรับตัวเลขนี้ให้ตรงกับรอยต่อที่ต้องการ) */
    top: 950px; 
    
    z-index: 2;
}



#Constructman {
    width: 180px;
    height: auto;
    margin-top: 70px;
    margin-right: 150px; 
}

#downArrow {
    width: 61px;
    height: auto;
    /* คำนวณให้กึ่งกลางตัวคน: 150px (margin ขวาคน) + (180px-61px)/2 */
    margin-right: 180px; 
    margin-top: 10px;
}

.left-element, .right-element {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* #second-part{
    margin-top: 0px;
} */
#top-border-box1{
    margin-left: 160px;
    background-color: #DF5F30;
    width: 290px;
    height: 20px;
}
#top-border-box2{
    background-color: #363459;
    width: 300px;
    height: 20px;
}
#top-border-box3{
    background-color: #AD3D3D;
    width: 436px;
    height: 20px;
}

.whatHeader {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* 1. เปลี่ยนจาก center เป็น left */
    text-align: start; 
    
    /* 2. ใส่ margin-left ให้เท่ากับเส้นด้านบน */
    margin-left: 160px; 
    
    color: white;
    font-size: 128px;
    line-height: 0.9; /* ปรับให้ตัวอักษรไม่ห่างกันเกินไปแนวตั้ง */
}
.left-box2{
    margin-left: 100px;
}
#seperator {
    background-color: white;
    height: 800px; /* ตรวจสอบว่าความสูงเพียงพอ */
    width: 3px;
    display: block; /* มั่นใจว่ามันจะแสดงผลเป็นก้อน */
    margin: 0 auto; /* จัดให้อยู่กึ่งกลางของ col-1 */
}
#P1{
    align-items: center;
    width: 280px;
    height: 280px;
}
#NumP1{
    font-size: 96px;
}
#Detail1{
    font-size: 36px;
}
#small-D1{
    font-size: 30px;
    text-align: end;
    font-weight: lighter;
}
#top-border-box4{
    background-color: #FF9248 ;
    width: 360px;
    height: 20px;
}
#P2{
    width: 426px;
    height:321px;
    margin-top: 130px;
}
#Detail2{
font-size: 36px;
margin-left: 50px;
margin-top: 60px;
}
#small-D2{
    font-size: 30px;
    text-align: end;
    font-weight: lighter;
}
#P3{
    width: 344px;
    height: 275px;
}
#Detail3{
    font-size: 36px;
    margin-left: 20px;
    
}
#help{
    color: #DF5F30;
    font-size: 80px;
    text-align: end;
    margin-top: 160px;
}
#table{
    width: 136px;
    height: 477px;
}