<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RightSite</title>
    <!-- JS -->
     <script src="/components/member/member.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/styles/member/member.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- import font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">


    <!-- import navbar -->
    <script src="/components/navbar/navbar.js" defer></script>
</head>

<body>
    <!-- Nav -->
    <nav>
        <icon>
            <img src="/assets/images/logo-light.png" alt="Logo">
        </icon>
        <a href="../index.html" data-text="HOME">HOME</a>
        <a href="/views/prototype.html" data-text="PROTOTYPE">PROTOTYPE</a>
        <a href="/views/member.html" data-text="TEAM">TEAM</a>
        <a href="../index.html#contact" data-text="CONTACT">CONTACT</a>
    </nav>
    <!-- Nav -->
    <div class="container">
        <h1 id="NameBG">
            <span class="fname">Team</span>
            <span class="lname">Member</span>
        </h1>
        <div id="BGImage">
            <img src="/assets/member/nobg/NoBGQ.png" alt="">
        </div>
    </div>
    <div class="above-all">
        <div id="member-nav"></div>
    </div>
    <div class=" member-list">
        <div class="col">
            <img src="/assets/member/Peach.jpg" data-member="0" alt="">
            <h3></h3>
            <p></p>
        </div>
        <div class="col">
            <img src="/assets/member/Dream.jpg" data-member="2" alt="">
            <h3></h3>
            <p></p>
        </div>
        <div class="col">
            <img src="/assets/member/Q.jpg" data-member="3" alt="">
            <h3></h3>
            <p></p>
        </div>
        <div class="col">
            <img src="/assets/member/Q.jpg" data-member="4" alt="">
            <h3></h3>
            <p></p>
        </div>
        <div class="col">
            <img src="/assets/member/Q.jpg" data-member="5" alt="">
            <h3></h3>
            <p></p>
        </div>

        
        
    </div>


</body>

</html>